.project__wrapper{
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row;
  -ms-flex-pack: center;
  width: 50%;
  justify-content: center;
  padding: 8rem 2rem;
  box-sizing: border-box;
  background: #FFF;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



/* project start */
.project{
    display: flex;
    flex-flow: column;
    width: 250px;
    align-self: center;
    position: relative;
    margin: 1rem;
}
.project__table{
    height: 150px;
    width: 250px;
    background-color: #757575;
    position: absolute;
}
/* redux button */
.project__btn{
    margin: 2rem;
    text-align: center;
}
/* redux button end */
.project__employee-grid{
    display: flex;
    flex-flow: row;
    z-index: 99;
}
.project__employee{
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}
.project__employee:nth-child(2n+1){
    bottom: 45px;
    right: -29px;
}
.project__employee:nth-child(2n+1)>.project__employee__title:first-of-type{
    border-top-left-radius: 22.5px;
    border-top-right-radius: 22.5px;
}
.project__employee:nth-child(2n){
    top: 150px;
    right: 35px;
    margin-bottom: 2rem;
}
.project__employee:nth-child(2n)>.project__employee__title:first-of-type{
    border-bottom-left-radius: 22.5px;
    border-bottom-right-radius: 22.5px;
}
.project__employee__title{
    background-color: #000000;
    height: 45px;
    width: 45px;
}


/* The element to hover over */
.project__employee .popover {
    background-color: white;
    border-radius: 5px;
    bottom: 42px;
    text-align: left;
    color: black;
    display: none;
    font-size: 12px;
    font-family: 'Helvetica',sans-serif;
    left: -95px;
    padding: 7px 10px;
    position: absolute;
    width: 200px;
    z-index: 4;
  }
  .project__employee .popover:before {
    border-top: 7px solid white;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
  }
  .project__employee:hover .popover {
    display: block;
    animation: fade-in .3s linear 1, move-up .3s linear 1;
    -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
  }
  
  .popover__name{

  }
  .popover__title{
    opacity: 0.7;
    font-size: 8px;
    margin: 0;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes move-up {
    from {
      bottom: 30px;
    }
    to {
      bottom: 42px;
    }
  }
  @-moz-keyframes move-up {
    from {
      bottom: 30px;
    }
    to {
      bottom: 42px;
    }
  }
  @-ms-keyframes move-up {
    from {
      bottom: 30px;
    }
    to {
      bottom: 42px;
    }
  }
  






  /* search start */
  .search{
    margin: 4rem;
    display: flex;
    justify-content: space-around;
  }
  .search__input__wrapper{
    flex-basis: 80%;
  }
  .search__input{
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: 20px;
    background: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    transition: all 0.05s ease-in-out;
    -webkit-appearance: none;
  }

  /* search end */

  /* filter start */
    .filter{
      cursor: pointer;
      flex-basis: 10%;
      background-color: #FFFFFF;
      padding: 10px;
    }
  /* filter end */